<form action="/messages" method="GET">
    User1: <input type="text" id="from" name="from">
    User2: <input type="text" id="to" name="to">
    <button type="submit" id="submit">Submit</button>
</form>
