<head>
  <!-- Custom styles for this template -->
  <link href="../../assets/stylesheets/home-2.css">
</head>

<body class="text-center">
  <form class="form-signin" action="/home" method="POST">
    <%= token_tag nil %>
    <h1 class="h3 mb-3 font-weight-normal">Ingrese el nombre de usuario</h1>
    <input type="text" id="user" name="user" class="form-control mb-3" placeholder="Nombre de usuario">
    <button class="btn btn-lg btn-primary btn-block" type="submit" id="submit">Ingresar</button>
  </form>
</body>